.episode-card.dark {
	display: flex;
	flex-direction: row !important;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	padding: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 12px;
	background-color: #470a97;
	transition: box-shadow 0.2s ease;
	margin-bottom: 1rem;
}